<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>美股小幫手</title>
</head>
<body id="index_body" class="overlay container-fluid d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <h1 class="text-white pb-2 pb-sm-5">選好股，過更好的生活</h1>
    <div class="container">
        <div id="options" class="row justify-content-evenly align-items-center text-center">
            <div id="backtesting" class="box col-10 col-sm-8 col-md-5 col-lg-5 col-xl-4 p-5">
                <h4 class="mb-3 text-white"><span class="emphasis">1. </span>回測你的投資組合報酬率</h4>
                <button type="button" class="btn btn-primary">
                    <a href="backtesting">回測報酬率</a>
                </button>
            </div>

            <div id="valuation" class="box col-10 col-sm-8 col-md-5 col-lg-5 col-xl-4 p-5">
                <h4 class="mb-3 text-white"><span class="emphasis">2. </span>看公司的基本面評分</h4>
                <button type="button" class="btn btn-primary">
                    <a href="stock">看公司評分</a>
                </button>
            </div>
        </div>
    </div> 
    
</body>
</html>