<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- 待辦：改變連結資料夾 -->
    <!-- <link rel="stylesheet" href="static/style.css"> -->

    <!-- 最後deploy的時候把css移到 static/style.css 裡 -->
    <style>
        body{
            background: url(https://images.unsplash.com/photo-1593642632559-0c6d3fc62b89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2369&q=80) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

        }

        #result {
            min-width: 460px;
            max-width: 850px;
        }
    </style>


    <title>Document</title>
</head>
<body>
    <div id="main" class="d-flex flex-column min-vh-100 justify-content-center align-items-center"> 
        {% if empty_symbol == "True" %}
        <h3>輸入的股票代號或公司名稱有誤，請重新檢查</h3>
        {{symbol}}
        {% else %}
            <h3>{{company_name}}的財報評分</h3><br>
            <div id="result" class="w-50 text-white text-start text-body bg-white bg-opacity-75 rounded-3 p-5">
            <div class="text-center">
                <h2>總分：{{total_score}}</h2>
                {% if total_score >= 80 %}
                <p>此股票財務狀況良好，值得投資</p>
                {% elif total_score >= 60%}
                <p>此股票財務狀況尚可，可以投資</p>
                {% else %}
                <p>此股票財務狀況有疑慮，建議投資前要審慎評估</p>
                {% endif %}
            
            </div>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">成長分數</th>
                        <th scope="col">價值分數</th>
                        <th scope="col">財務表現</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">{{growth_score}}</th>
                        <th scope="col">{{value_score}}</th>
                        <th scope="col">{{finance_score}}</th>
                    </tr>
                </tbody>
            </table>
        {% endif %}


        </div>
    </div>

    <footer>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
</body>
</html>